{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<ul id="messages"></ul>
<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>
{% endblock %}
